* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}
body{
  font-family: "Microsoft Yahei","simsun";

}
.content {
  width: 1000px;
  margin: 30px auto;
}
.content .single-c {
  background: #fff;
  border: 1px #ebebeb solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content .single-c .login-title {
  height: 50px;
  line-height: 50px;
}
.content .single-c .login-title h3 {
  display: inline;
  font-size: 18px;
  font-weight: normal;
  color: #4b5e6f;
  margin-left: 20px;
}
.content .single-c .login-title h3 span {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}
.content .single-c .login-title h3 span a {
  color: #22c0e7;
}
.content .single-c .single-c-con {
  border-top: 1px #ebebeb solid;
}
.content .single-c .single-c-con .sign-banner {
  float: left;
  display: inline;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.content .single-c .single-c-con .sign-key {
  float: right;
  display: inline;
  margin-right: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 410px;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i {
  margin-left: 40px;
  margin-top: 30px;
  position: relative;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i span {
  font-size: 14px;
  margin-right: 10px;
  color: #585858;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i input {
  background: #fff;
  font-size: 14px;
  padding: 11px 3px;
  width: 226px;
  border: 1px solid #ccc;
  height: 16px;
  line-height: 16px;
  color: #000;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i .tip-icon {
  margin-left: 3px;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i .cellTip {
  font-size: 13px;
  color: #ea231f;
  position: absolute;
  left: 70px;
  top: 48px;
}
.content .single-c .single-c-con .sign-key form .sign-txt-i .code-status {
  width: 232px;
  height: 16px;
  background: url(../src/images/code.jpg) no-repeat 0px -48px;
  margin-top: 0;
  margin-left: 70px;
  display: none;
}
.content .single-c .single-c-con .sign-key form .sign-xieyi {
  margin-top: 30px;
  margin-left: 110px;
  font-size: 13px;
}
.content .single-c .single-c-con .sign-key form .sign-xieyi label span a {
  color: #22c0e7;
}
.content .single-c .single-c-con .sign-key form .sign-sub {
  margin-top: 30px;
}
.content .single-c .single-c-con .sign-key form .sign-sub .sign_submit {
  display: block;
  width: 234px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  background: #cb2900;
  margin-left: 110px;
}
.content .single-c .single-c-con:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
