* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f8f8;
    font-family: "Microsoft Yahei","simsun";
}

.user-main a {
    text-decoration: none;
    font-size: 12px;
}

.calendar {
    position: absolute;
    top: 61px;
    left: 580px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.user-main {
    width: 1000px;
    margin: auto;
}

.user-main .left-cont {
    float: left;
    width: 200px;
}

.user-main .left-cont .user-info {
    background-color: #cb2900;
    height: 105px;
}

.user-main .left-cont .user-info h3 {
    margin-left: 15px;
    padding-top: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.user-main .left-cont .user-info p {
    margin-left: 15px;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
}

.user-main .left-cont .user-btn {
    border: 1px solid #ebebeb;
    background-color: #fff;
}

.user-main .left-cont .user-btn ul {
    height: 64px;
}

.user-main .left-cont .user-btn ul li {
    list-style: none;
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
}

.user-main .left-cont .user-btn ul li a {
    width: 100%;
    padding-top: 30px;
    color: #a0a0a0;
}

.user-main .left-cont .user-btn ul li a:hover {
    color: #cb2900;
}

.user-main .left-cont .user-btn .btn-name {
    background: url("../src/images/user/ic_infor.png") no-repeat center 0;
}

.user-main .left-cont .user-btn .btn-pwd {
    background: url("../src/images/user/ic_pwd.png") no-repeat center 0;
}

.user-main .left-cont .user-btn .btn-card {
    background: url("../src/images/user/ic_card.png") no-repeat center 0;
}

.user-main .left-cont .user-side {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.user-main .left-cont .user-side dl dt {
    padding: 18px 0 18px 75px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    font-size: 14px;
    cursor: default;
}

.user-main .left-cont .user-side dl dd {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.user-main .left-cont .user-side dl dd a {
    display: block;
    width: 100%;
    color: #a0a0a0;
}

.user-main .left-cont .user-side dl dd a:hover {
    color: #cb2900;
}

.user-main .left-cont .user-side dl .found {
    background: url("../src/images/user/ic_found.png") no-repeat 37px center;
}

.user-main .left-cont .user-side dl .invest {
    background: url("../src/images/user/ic_invest.png") no-repeat 37px center;
}

.user-main .left-cont .user-side dl .proceeds {
    background: url("../src/images/user/ic_proceeds.png") no-repeat 37px center;
}

.user-main .right-cont {
    float: right;
    width: 780px;
}

.main-tpl {
    width: 778px;
}

.main-tpl .kan {
    color: #34bbff;
    font-size: 12px;
    padding-left: 15px;
}

.main-tpl .kan:hover {
    text-decoration: underline;
}

.main-tpl .total {
    background-color: #fff;
    float: left;
    border: 1px solid #ececec;
    box-sizing: border-box;
    height: 154px;
    width: 255px;
    overflow: hidden;
    display: inline-block;
}

.main-tpl .total p {
    padding-left: 25px;
}

.main-tpl .total .total-p1 {
    color: #999;
    margin-top: 42px;
    font-size: 12px;
    padding-left: 49px;
    height: 16px;
    background: url("../src/images/user/ico_question.png") no-repeat 27px center;
}

.main-tpl .total .total-p2 {
    margin-top: 9px;
    font-size: 28px;
}

.main-tpl .total-list {
    background-color: #fff;
    float: left;
    width: 523px;
    height: 153px;
}

.main-tpl .total-list p {
    color: #999;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    height: 33.7%;
    line-height: 50px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    padding-left: 49px;
    background: url("../src/images/user/ico_question.png") no-repeat 27px center;
}

.main-tpl .total-list p .list-qian {
    font-size: 18px;
    color: #000;
}

.main-tpl .total-list .total-btn {
    cursor: pointer;
    padding: 8px 11px;
    border: 1px solid #ececec;
}

.main-tpl .total-list .btn-bg-a {
    background-color: #f7f7f7;
    margin-left: 170px;
}

.main-tpl .total-list .btn-bg-red {
    background-color: #b92500;
    color: #fff;
}

.main-tpl .total-bottom {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    clear: both;
    border: 1px solid #ececec;
}

.main-tpl .total-bottom p {
    height: 40px;
    line-height: 40px;
}

.main-tpl .total-bottom span {
    font-size: 12px;
    color: #999;
}

.main-tpl .total-bottom span .color-red {
    color: #CB2900;
    font-size: 18px;
}

.main-tpl .total-bottom .bottom-left {
    float: left;
    padding-left: 15px;
}

.main-tpl .total-bottom .bottom-right {
    float: right;
    padding-right: 15px;
}

.main-tpl .total-record {
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.main-tpl .total-record .record-1 {
    height: 52px;
    line-height: 51px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.main-tpl .total-record .record-1 a {
    font-size: 14px;
    display: inline-block;
    padding: 0 17px;
}

.main-tpl .total-record .record-type {
    color: #999;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ececec;
    border-top: none;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
}

.main-tpl .total-record .record-type li {
    margin-right: 5px;
    height: 24px;
    line-height: 28px;
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
}

.main-tpl .total-record .record-type li:first-child {
    padding-left: 17px;
}

.main-tpl .total-record .record-class {
    height: 53px;
    line-height: 53px;
    border: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}

.main-tpl .total-record .record-class li {
    display: inline-block;
    padding: 0 33px;
}

.main-tpl .total-record .record-content {
    height: 200px;
    background-color: #fff;
}

.main-tpl .total-record .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.user-date {
    width: 778px;
    background-color: #fff;
    font-size: 14px;
    color: #999;
    border: 1px solid #ececec;
}

.user-date .date-time {
    height: 76px;
    width: 100%;
    line-height: 76px;
    padding-left: 19px;
    box-sizing: border-box;
}

.user-date input {
    background: url("../src/images/user/pc-18.png") no-repeat 8px center;
    width: 155px;
    height: 16px;
    padding: 12px 0 12px 36px;
    border: 1px solid #ececec;
}

.user-date .date-type {
    width: 100%;
    height: 53px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.user-date .date-type ul li {
    line-height: 53px;
    list-style: none;
    display: inline-block;
    width: 16%;
    padding-left: 19px;
    color: #666;
}

.user-date .date-content {
    height: 200px;
    background-color: #fff;
}

.user-date .date-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.user-withdraw {
    width: 778px;
    background-color: #fff;
    font-size: 14px;
    color: #999;
    border: 1px solid #ececec;
}

.user-withdraw .date-time {
    height: 106px;
    width: 100%;
    line-height: 76px;
    padding-left: 19px;
    box-sizing: border-box;
}

.user-withdraw .date-time p {
    height: 30px;
    line-height: 30px;
}

.user-withdraw input {
    background: url("../src/images/user/pc-18.png") no-repeat 8px center;
    width: 155px;
    height: 16px;
    padding: 12px 0 12px 36px;
    border: 1px solid #ececec;
}

.user-withdraw .date-type {
    width: 100%;
    height: 53px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.user-withdraw .date-type ul li {
    line-height: 53px;
    list-style: none;
    display: inline-block;
    width: 16%;
    padding-left: 19px;
    color: #666;
}

.user-withdraw .date-content {
    height: 200px;
    background-color: #fff;
}

.user-withdraw .date-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.user-fund {
    width: 778px;
    font-size: 14px;
}

.user-fund .date-time {
    height: 76px;
    width: 100%;
    line-height: 76px;
    padding-left: 19px;
    box-sizing: border-box;
    background-color: #fff;
}

.user-fund input {
    background: url("../src/images/user/pc-18.png") no-repeat 8px center;
    width: 155px;
    height: 16px;
    padding: 12px 0 12px 36px;
    border: 1px solid #ececec;
}

.user-fund .fund-top {
    height: 114px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.user-fund .fund-top div {
    width: 33.33%;
    float: left;
}

.user-fund .fund-top div .fund-img {
    padding-left: 43px;
    background: url("../src/images/user/ico_question.png") no-repeat 20px 15px;
}

.user-fund .fund-top div p {
    color: #999;
    padding: 18px 25px;
}

.user-fund .fund-top div span {
    font-size: 30px;
    padding-left: 20px;
}

.user-fund .fund-main {
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.user-fund .fund-main .record-type {
    color: #999;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ececec;
    border-top: none;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
}

.user-fund .fund-main .record-type li {
    margin-right: 5px;
    height: 24px;
    line-height: 28px;
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
}

.user-fund .fund-main .record-type li:hover {
    background-color: #2BB9BE;
    color: #fff;
}

.user-fund .fund-main .record-type li:first-child {
    padding-left: 17px;
}

.user-fund .fund-main .record-type li:first-child:hover {
    background-color: #fff;
    color: #999;
}

.user-fund .fund-main .record-class {
    height: 53px;
    line-height: 53px;
    border: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}

.user-fund .fund-main .record-class li {
    display: inline-block;
    padding: 0 27px;
    color: #666;
}

.user-fund .fund-main .record-content {
    color: #999;
    height: 200px;
    background-color: #fff;
}

.user-fund .fund-main .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.wenyingdai {
    width: 778px;
    font-size: 14px;
}

.wenyingdai .date-time {
    height: 76px;
    width: 100%;
    line-height: 76px;
    padding-left: 19px;
    box-sizing: border-box;
    background-color: #fff;
}

.wenyingdai input {
    background: url("../src/images/user/pc-18.png") no-repeat 8px center;
    width: 155px;
    height: 16px;
    padding: 12px 0 12px 36px;
    border: 1px solid #ececec;
}

.wenyingdai .fund-top {
    height: 114px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.wenyingdai .fund-top .wenyingdai-title {
    margin-top: 19px;
}

.wenyingdai .fund-top .wenyingdai-title p {
    padding: 2px 19px;
}

.wenyingdai .fund-top div {
    width: 33.33%;
    float: left;
}

.wenyingdai .fund-top div .fund-img {
    padding-left: 43px;
    background: url("../src/images/user/ico_question.png") no-repeat 20px 15px;
}

.wenyingdai .fund-top div p {
    color: #999;
    padding: 18px 25px;
}

.wenyingdai .fund-top div span {
    font-size: 30px;
    padding-left: 20px;
}

.wenyingdai .fund-main {
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.wenyingdai .fund-main .record-type {
    color: #999;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ececec;
    border-top: none;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
}

.wenyingdai .fund-main .record-type li {
    margin-right: 5px;
    height: 24px;
    line-height: 28px;
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
}

.wenyingdai .fund-main .record-type li:hover {
    background-color: #2BB9BE;
    color: #fff;
}

.wenyingdai .fund-main .record-type li:first-child {
    padding-left: 17px;
}

.wenyingdai .fund-main .record-type li:first-child:hover {
    background-color: #fff;
    color: #999;
}

.wenyingdai .fund-main .record-class {
    height: 53px;
    line-height: 53px;
    border: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}

.wenyingdai .fund-main .record-class li {
    display: inline-block;
    padding: 0 22px;
    color: #666;
}

.wenyingdai .fund-main .record-content {
    color: #999;
    height: 200px;
    background-color: #fff;
}

.wenyingdai .fund-main .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.huobijijin {
    width: 778px;
    font-size: 14px;
}

.huobijijin .fund-top {
    height: 143px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.huobijijin .fund-top .wenyingdai-title {
    margin-top: 19px;
}

.huobijijin .fund-top .wenyingdai-title p {
    padding: 2px 19px;
}

.huobijijin .fund-top div {
    width: 33.33%;
    float: left;
}

.huobijijin .fund-top div .fund-img {
    padding-left: 43px;
    background: url("../src/images/user/ico_question.png") no-repeat 20px 15px;
}

.huobijijin .fund-top div p {
    color: #999;
    padding: 18px 25px;
}

.huobijijin .fund-top div span {
    font-size: 30px;
    padding-left: 20px;
}

.huobijijin .fund-top > p {
    clear: both;
    color: #999;
    padding-left: 19px;
    padding-top: 20px;
}

.huobijijin .fund-main {
    border: 1px solid #ececec;
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.huobijijin .fund-main .record-class {
    height: 53px;
    line-height: 53px;
    border-bottom: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}

.huobijijin .fund-main .record-class li {
    display: inline-block;
    padding: 0 14px;
    color: #666;
}

.huobijijin .fund-main .record-content {
    color: #999;
    height: 200px;
    background-color: #fff;
}

.huobijijin .fund-main .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.qitalicai {
    width: 778px;
    font-size: 14px;
}

.qitalicai .fund-top {
    height: 143px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.qitalicai .fund-top .wenyingdai-title {
    margin-top: 19px;
}

.qitalicai .fund-top .wenyingdai-title p {
    padding: 2px 19px;
}

.qitalicai .fund-top div {
    width: 33.33%;
    float: left;
}

.qitalicai .fund-top div .fund-img {
    padding-left: 43px;
    background: url("../src/images/user/ico_question.png") no-repeat 20px 15px;
}

.qitalicai .fund-top div p {
    color: #999;
    padding: 18px 25px;
}

.qitalicai .fund-top div span {
    font-size: 30px;
    padding-left: 20px;
}

.qitalicai .fund-top > p {
    clear: both;
    color: #999;
    padding-left: 19px;
    padding-top: 20px;
}

.qitalicai .fund-main {
    border: 1px solid #ececec;
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.qitalicai .fund-main .record-class {
    height: 53px;
    line-height: 53px;
    border-bottom: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}

.qitalicai .fund-main .record-class li {
    display: inline-block;
    padding: 0 41px;
    color: #666;
}

.qitalicai .fund-main .record-content {
    color: #999;
    height: 200px;
    background-color: #fff;
}

.qitalicai .fund-main .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.zuorishouyi {
    width: 778px;
    background-color: #fff;
    font-size: 14px;
    color: #999;
    border: 1px solid #ececec;
}

.zuorishouyi .date-title {
    height: 82px;
    line-height: 31px;
    width: 100%;
    padding-left: 19px;
    box-sizing: border-box;
}

.zuorishouyi .date-title span {
    color: #666;
    font-weight: 600;
}

.zuorishouyi .date-title p {
    color: #cd2900;
    font-size: 28px;
    font-weight: 600;
}

.zuorishouyi .date-type {
    width: 100%;
    height: 53px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.zuorishouyi .date-type ul li {
    line-height: 53px;
    list-style: none;
    display: inline-block;
    width: 16%;
    color: #666;
}

.zuorishouyi .date-type .li1 {
    padding-left: 19px;
}

.zuorishouyi .date-type .li {
    margin-left: 166px;
}

.zuorishouyi .date-content {
    height: 200px;
    background-color: #fff;
}

.zuorishouyi .date-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.leijishouyi {
    width: 778px;
    font-size: 14px;
}

.leijishouyi .date-time {
    height: 76px;
    width: 100%;
    line-height: 76px;
    padding-left: 19px;
    box-sizing: border-box;
    background-color: #fff;
    color: #999;
}

.leijishouyi input {
    background: url("../src/images/user/pc-18.png") no-repeat 8px center;
    width: 155px;
    height: 16px;
    padding: 12px 0 12px 36px;
    border: 1px solid #ececec;
}

.leijishouyi .fund-top {
    height: 150px;
    background-color: #fff;
    border: 1px solid #ececec;
}

.leijishouyi .fund-top div {
    width: 33.33%;
}

.leijishouyi .fund-top div p {
    color: #999;
    padding: 18px 25px;
}

.leijishouyi .fund-top div span {
    font-size: 30px;
    padding-left: 20px;
}

.leijishouyi .fund-main {
    border: 1px solid #ececec;
    font-size: 14px;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.leijishouyi .fund-main .record-type {
    color: #999;
    cursor: pointer;
    background-color: #fff;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
}

.leijishouyi .fund-main .record-type li {
    margin-right: 5px;
    height: 24px;
    line-height: 28px;
    list-style: none;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 3px;
}

.leijishouyi .fund-main .record-type li:hover {
    background-color: #2BB9BE;
    color: #fff;
}

.leijishouyi .fund-main .record-type li:first-child {
    padding-left: 17px;
}

.leijishouyi .fund-main .record-type li:first-child:hover {
    background-color: #fff;
    color: #999;
}

.leijishouyi .fund-main .record-class {
    height: 53px;
    line-height: 53px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}

.leijishouyi .fund-main .record-class li {
    display: inline-block;
    padding: 0 27px;
    color: #666;
}

.leijishouyi .fund-main .record-content {
    color: #999;
    height: 200px;
    background-color: #fff;
}

.leijishouyi .fund-main .record-content p {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background: url("../src/images/user/pc-25.png") no-repeat 306px center;
}

.fund-img {
    cursor: pointer;
}

.fund-img:hover {
    background: url("../src/images/user/ico_question_active.png");
}

.user-main .left-cont .chongzhi,.user-main .left-cont .tixian {
    z-index: 999;
    position: fixed;
    top: 150px;
    left: calc(50% - 225px);
    width: 450px;
    height: 260px;
    background-color: white;
    display: none;
}
.user-main .left-cont .chongzhi h3,.user-main .left-cont .tixian h3{
    font-size: 20px;
    height: 40px;
    color:#fff;
    background-color: rgb(205, 41, 0);
    line-height: 40px;
    font-weight:400;
    padding-left:25px;
}
.user-main .left-cont .chongzhi p,.user-main .left-cont .tixian p{
    font-size:14px;
    padding:10px 25px;
}
.user-main .left-cont .chongzhi span,.user-main .left-cont .tixian span{
    font-size: 14px;
    width: 186px;
    height: 40px;
    line-height:40px;
    display: inline-block;
    text-align: center;
    cursor:pointer;
    color:white;
}
.user-main .left-cont .chongzhi span:last-child,.user-main .left-cont .tixian span:last-child{
    background-color:rgb(205, 41, 0);
}
.user-main .left-cont .chongzhi :nth-child(6),.user-main .left-cont .tixian :nth-child(6){
    background-color: rgb(91,91,91);
    margin: 0 25px;
}

.user-main .left-cont .body{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

